{% extends 'AppBundle::layout.html.twig' %}
{% block body %}
    <div class="container">
        {{ form_start(form,{attr:{"class":"form-horizontal"}}) }}
        <div class="col-md-offset-1 col-sm-8">
            <img id="img-preview" src="{{asset(form.vars.value.media.link|imagine_filter('product_img'))}}" />
            {{form_widget(form.file,{"attr":{"class":"input-file img-selector"}})}}
            
            <a href="#" class="btn btn-info btn-lg waves-effect btn-select"> <i class="zmdi zmdi-attachment zmdi-hc-fw"></i> Select image</a>
            <div class="card">
                {{form_errors(form.file)}}
                <div class="card-header">
                    <h2>EDIT {{form.vars.value.title}}<small>
                    </small></h2>
                </div>
                <div class="card-body card-padding">
                    
                    <div class="form-group fg-line">
                        {{form_label(form.title,null,{label_attr:{"class":""}})}}
                        {{form_widget(form.title,{attr:{"class":"form-control"}})}}
                        {{form_errors(form.title)}}
                    </div>
                    <div class="form-group fg-line">
                        {{form_label(form.video,null,{label_attr:{"class":""}})}}
                        {{form_widget(form.video,{attr:{"class":"form-control"}})}}
                        {{form_errors(form.video)}}
                    </div>
                    <div class="form-group fg-line">
                        {{form_label(form.category,null,{label_attr:{"class":""}})}}
                        {{form_widget(form.category,{attr:{"class":"selectpicker bs-select-hidden"}})}}
                        {{form_errors(form.category)}}
                    </div>
                    <div class="form-group fg-line">
                        {{form_label(form.content,null,{label_attr:{"class":""}})}}
                        {{form_widget(form.content,{attr:{"class":"form-control","rows":"7"}})}}
                        {{form_errors(form.content)}}
                    </div>
                    {{form_errors(form.file)}}
                    <div class="checkbox">
                        <label>
                            {{form_widget(form.enabled)}}
                            <i class="input-helper"></i>
                            Publish
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            {{form_widget(form.comment)}}
                            <i class="input-helper"></i>
                            Allows comments
                        </label>
                    </div>
                    <br>
                    {{form_widget(form.save,{attr:{"class":"btn btn-success btn-lg waves-effect pull-right"}})}}
                    
                    <br>
                    <br>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}