{% extends 'AppBundle::layout.html.twig' %}
{% block body %}
<div class="container">
    <div class="card col-md-offset-1 col-sm-8">
        <div class="card-header">
            <h2>ADD NEW SUBSCRIPTION<small>
            </small></h2>
        </div>
          <div class="card-body card-padding">
          {{ form_start(form,{attr:{"class":"form-horizontal"}}) }}
  <div class="form-group fg-line">
  {{form_label(form.title,null,{label_attr:{"class":""}})}}
          {{form_widget(form.title,{attr:{"class":"form-control"}})}}
          {{form_errors(form.title)}}

    </div>
        
       
    <div class="form-group fg-line">
  {{form_label(form.period,null,{label_attr:{"class":""}})}}
          {{form_widget(form.period,{attr:{"class":"form-control",'placeholder': 'Number of days'}})}}
          {{form_errors(form.period)}}
          
          

    </div>      
	<br>
 				{{form_widget(form.save,{attr:{"class":"btn btn-success btn-lg waves-effect pull-right"}})}} 
            {{ form_end(form) }}
            <br>
            <br>

    
      </div>
  </div>
</div>
{% endblock %}

